<!-- Including InstantSearch.js library and styling -->
<script src="{{ "js/search.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "css/search.css" | relURL }}">

<!-- Search -->
<div class="search-page">
    <div class="search-icon-close-container">
      <span class="search-icon-close">
        <i class="fa fa-chevron-down"></i>
      </span>
    </div>
    <div class="search-main container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form></form>
                <input type="text" id="search-input" placeholder="$ grep...">

                <div id="search-results" class="mini-post-list"></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var $searchPage = $('.search-page');
        var $searchOpen = $('.search-icon');
        var $searchClose = $('.search-icon-close');
        var $searchInput = $('#search-input');
        var $body = $('body');

        $searchOpen.on('click', function (e) {
            e.preventDefault();
            $searchPage.toggleClass('search-active');
            var prevClasses = $body.attr('class') || '';
            setTimeout(function () {
                $body.addClass('no-scroll');
            }, 400)

            if ($searchPage.hasClass('search-active')) {
                $searchClose.on('click', function (e) {
                    e.preventDefault();
                    $searchPage.removeClass('search-active');
                    $body.attr('class', prevClasses);  // from closure
                });
                $searchInput.focus();
            }
            searchFunc('/index.json', 'search-input', 'search-results');
        });
    });
</script>